@font-face{
    font-family:"minecraft";
    src: url(images/minecraft_font.ttf)
}/* Introducimos la fuente */

h1{
    font-family: "minecraft";
}

#iframeid{
	margin-left: 250px;
}
/* Le agrego un margen izquierdo al video */

#encabezado{
	width: 1500px;
}

.icono{
  margin-left: 1350px;
  height: 0px;
}

nav ul {
    padding: 0;
    margin: 0;
	background-color: rgb(51, 51, 51);
	width: 326px;
	padding: 10px;
    margin-right: 0px;
    margin-bottom: 50px;
	float: left;
	border-top-width: 2px;
    border-top-style: solid;
	border-top-color: rgb(0, 0, 0);
	box-shadow: 10px 10px 0 #000;
	height: 900px;
	width: 400px;
	margin-top: 30px;
}
/**Creamos aquí nuestro menú indicandole un fondo, un sombreado **/

.letramenu{
	color: #FF0000;
	font-family:"medieval";
	font-size: 40px;
}
/**le indico la fuente al mení **/
.block-small{
	max-height: 32px !important;
	max-width: 32px !important;
	vertical-align: middle;
}

.parrafo {
	margin-left: 600px;
	background-color: white;
	width: 715px;
	height: 1430px;
	margin-top: 50px;
	font-family:"minecraft";
}

.texto{
	border-radius: 30px 30px 30px 30px;
	-moz-border-radius: 30px 30px 30px 30px;
	-webkit-border-radius: 30px 30px 30px 30px;
	border: 2px solid #000000;
}

.marcador{
	width: 715px;
	height: 1430px;
	margin-top: 500px;
}

.texto{
	background-color: white;
	width: 1000px;
	height: 1000px;
	margin-left: 450px;
	margin-top: 26px;
}
/** Hago mi div clase para indicar que los parrafos tienen de fondo una ventana con fondo blanco **/

.imageCrafteos{
	width: 50%;
	margin-left: 200px;
}
#textoMundos{
	background-color: white;
	width: 1000px;
	height: 1100px;
	margin-left: 450px;
	margin-top: 26px;
	border-radius: 20px;
}
/* Id único para el texto de los Mundos **/

#textoEspecial{
	background-color: white;
	width: 1000px;
	height: 500px;
	margin-left: 450px;
	margin-top: 26px;
	border-radius: 20%;
}

#texto{
	background-color: blue;
	width: 1000px;
	height: 1000px;
	margin-top: 26px;
}

.imagenPresentacion{
	margin-left: 400px;
	margin-top: 50px;
	border-color: red;
	border: 5px solid red;
}

#letraTitulo{
	color: black;
	font-family:"Minecraft";
	font-size: 40px;
}

.letratexto{
	color: black;
	font-family:"Minecraft";
	padding: 10px;
}

.contador{
	margin-left: 120px;
}



.imageMod{
	width: 25%;
	height: 25%;
	margin-left: 300px;
}

.imageCelda{
	height: 60%;
}
/**Tamaño de cada una de las imagenes de las celdas **/


.imageCeldaPequeña{
	height: 40%;

}
/**Tamaño de cada una de las imagenes de las celdas de las tablas anidadas **/

.palabra{
	font-weight: bold;
}
/** CLase para indicar negrita en un tipo spam**/

.anchoTitulo{
	width: 10%;
}

#imageCeldaEnderman{
	height: 10%;
}

#imageCeldaAraña{
	height: 20%;
}

ul li{
	color: black;
	font-family:"Minecraft";
	padding: 10px;
	margin-left: 300px;

}

.imagenesMods{
	width: 25%;
	height: 20%;
	top: 500px;


}

.imagenPequeña{
	height: 16.7%;
}

#letrapequeña{
	color: grey;
	font-family:"Minecraft";
	padding: 10px;
	margin-left: 80px;
}

ol li{
	color: black;
	font-family:"Minecraft";
	padding: 10px;
}

.image-map{
	width: 800px;
	margin-top: 100px;
	margin-left: 100px;
}

.imagenesMundos{
	width: 25%;
	height: 20%;
	top: 500px;
	margin-left: 350px;


}




